.container {
  width: 1200px;
  @include center;
}

/* name */
.name {
  h1 {
    margin-top: 37px;
    font-size: $font-xl;
    line-height: 106px;
    border-bottom: 2px solid $border-bottom-primary;
  }
}

.title {
  font-size: $font-l;
  line-height: 43px;
  font-weight: bold;
  border-bottom: 1px solid $border-bottom-primary;
  padding-bottom: 8px;
  span {
    font-size: $font-m;
    line-height: 1.5;
    color: $text-secondary;
    margin-left: 16px;
    vertical-align: text-top;
  }
}

/* profile、education */
.photo {
  margin: 48px 0;
}
.profile li,
.education li {
  margin-top: 16px;
  font-size: $font-m;
  line-height: 36px;
}
.profile li + li,
.education li + li {
  margin-top: 24px;
}

/* skills */
.skills {
  background-color: $bgc-primary;
  padding-bottom: 36px;
  h2 {
    width: 996px;
    @include center;
    font-size: $font-l;
    line-height: 45px;
    color: $text-primary;
    text-align: center;
    border-bottom: 1px solid $border-bottom-secondary;
    padding: 24px 0 8px 0;
    span {
      font-size: $font-m;
      line-height: 1.5;
      margin-left: 16px;
      vertical-align: text-top;
    }
  }
  .skills-list {
    width: 236px;
    @include center;
    margin-top: 36px;
    font-size: $font-m;
    line-height: 1.5;
    color: $text-primary;
    border-left: 1px solid $border-bottom-secondary;
    li {
      margin-left: 24px;
    }
    li:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}

/* work-list */
.work-list {
  margin-top: 16px;
  margin-left: 14px;
  border-left: 2px solid $border-left-primary;
  li {
    margin-left: 24px;
  }
  h3 {
    font-size: $font-m;
    line-height: 1.5;
  }
  img {
    margin: 8px 0;
    vertical-align: middle;
  }
  p {
    font-size: $font-s;
    line-height: 30px;
  }
}
.work-list-h3 {
  margin-top: 32px;
}

/* footer */
.footer {
  background-color: $bgc-primary;
  font-family: "Kumbh Sans", sans-serif;
  h2 {
    @include center;
    font-size: $font-l;
    line-height: 43px;
    color: $text-primary;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 8px;
    border-bottom: 1px solid $border-bottom-secondary;
  }
  .footer-info {
    margin-top: 32px;
    li {
      font-size: $font-m;
      color: $text-primary;
      text-align: center;
      & ~ li {
        margin-top: 16px;
      }
      a {
        text-decoration: none;
        color: $text-primary;
        &:hover {
          color: $text-secondary;
        }
      }
    }
  }
}
.footer-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0 36px 0;
  li ~ li {
    margin-left: 24px;
  }
  img {
    transition: 0.5s;
    &:hover {
      transform: scale(1.2);
    }
  }
}
